@font-face {
    font-family: 'Hammersmith One';
    src: local('Hammersmith One'), local('HammersmithOne'), url('hammersmithone.woff2') format('woff2'), url('hammersmithone.woff') format('woff'), url('hammersmithone.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
